body{
    padding: 5px;
    text-align: center;
}

.my--container{
    height: auto;
    width: 100%;
    display: block;
    overflow: auto hidden;
}

.block{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    min-height: 170px;
    align-content: center;
}

.group1{
    display: block;
    margin-bottom: 5px;
}

.title{
    margin-bottom: 0;
}

.group2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.group2--block1{
    background-color: #fda7a7;
    flex-grow: 1;
    margin-right: 5px;
}

.block2--reverse{
    order: -1;
}

.group2--block2{
    background-color: #d2fda7;
    border-style: dashed;
    flex-grow: 1;
    margin-right: 5px;
}

.group2--block3{
    background-color: #a7f9fd; 
    flex-grow: 1;
}

.group3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.small{
    flex-basis: calc(33.3% - 2.5px);
    margin-right: 5px;
    flex-grow: 1;
}

.big{
    flex-basis: calc(66.6% - 2.5px);
    flex-grow: 2;
}

.my--modal{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
}

.modal--inner{
    max-width: 400px;
    z-index: 1;
    margin: 30px 15px;
    padding: 30px;
    text-align: center;
    height: 200px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    position: relative;
}


.hide{
    display: none;
}

.close--button{
    position: absolute;
    top: 12px;
    right: 12px;
}

.close--button svg path{
    transition: stroke .3s;
}

.close--button:hover svg path{
    stroke: #ff0000;

}

.link{
    display: block;
    margin-bottom: 10px;
}

.link:hover {
text-decoration: underline;
}

  


@media (max-width: 480px){
    
    .group1, .group2, .group3{
        flex-direction: column;
        margin-bottom: 0;
    }
    .block{
        margin-right: 0;
        margin-bottom: 5px;
    }
}